x64/
.vs/
.vs/Daulaires/v17/Browse.VC.opendb
.vs/Daulaires/FileContentIndex/3010ccd9-fc40-45b7-8202-89f663d53eaa.vsidx
.vs/Daulaires/v17/Browse.VC.db
.vs/Daulaires/v17/Browse.VC.db-shm
.vs/Daulaires/v17/Browse.VC.db-wal
.vs/Daulaires/FileContentIndex/2abac678-74d3-40bf-9d25-8c2821fe354e.vsidx
.vs/Daulaires/FileContentIndex/69fea8b8-08fa-4e33-997c-4720d3f856d4.vsidx
